.serv-container{
    padding: 75px 10% 20px 10%;
    .serv-desc{
        text-align:center;
        width:100%;

        h3,h4,h2,p{
            visibility: hidden;
            opacity:0;
            transform:translateY(50px);
            transition:all 1000ms ease-in-out;
        }
        
        h3,h4{
            font-family: Kristi;
            color: #EF7A07;
            font-size: 60px;
            margin-bottom: -26px;
            padding-bottom: 10px;
            line-height: 1em;
            font-weight: 500;
        }
        h2{
            font-weight: 800;
            text-transform: uppercase;
            font-size: 60px;
            line-height: 1.1em;
            font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
            color:#353740;
            margin-bottom:15px;
        }
        p{
            font-size:16px;
            margin:auto;
            max-width: 680px;
            color: #747d88;
            line-height: 1.6em;
            font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
        }
    }
    .serv-box{
        margin-top: 35px;
        display:grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 320px 320px;
        text-align:center;
        .box-container{
            img{
                visibility: hidden;
                opacity:0;
                transform:translateY(-15px);
                transition:all 1250ms ease-in-out;
            }
        }
        .box-container:nth-child(1){
            border-right:1px dotted #ef7a07;
            border-bottom: 1px dotted #ef7a07;
        }
        .box-container:nth-child(2){
            border-right:1px dotted #ef7a07;
            border-bottom: 1px dotted #ef7a07;
        }
        .box-container:nth-child(3){
            border-bottom: 1px dotted #ef7a07;
        }
        .box-container:nth-child(4){
            border-right:1px dotted #ef7a07;
        }
        .box-container:nth-child(5){
            border-right:1px dotted #ef7a07;
        }

    }
}

.animate{
    .serv-desc{
        h3,h4,h2,p{
            visibility: visible;
            opacity:1;
            transform:translateY(0px);
            transition:all 1000ms ease-in-out;

        }
    }
    .serv-box{
        .box-container{
            img{
                visibility: visible;
                opacity:1;
                transform:translateY(0px);
            }
        }
    }
}

@keyframes textAnim{
    0%{
        transform: translateY(200px)
    }
    100%{
        transform: translateY(0px)
    }
}

@media only screen and (max-width: 1024px){
    .serv-container{
        
        .serv-box{
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 320px 320px 320px;
            text-align:center;

            .box-container:nth-child(1){
                border-right:1px dotted #ef7a07;
                border-bottom: 1px dotted #ef7a07;
            }
            .box-container:nth-child(2){
                border-right:none;
                border-bottom: 1px dotted #ef7a07;
            }
            .box-container:nth-child(3){
                border-right: 1px dotted #ef7a07;
                border-bottom: 1px dotted #ef7a07;
            }
            .box-container:nth-child(4){
                border-right: none;
                border-bottom: 1px dotted #ef7a07;
            }
            .box-container:nth-child(5){
                border-right:1px dotted #ef7a07;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .serv-container{
        .serv-desc{
            text-align:center;
            width:100%;
            
            h3,h4{
                font-family: Kristi;
                color: #EF7A07;
                font-size: 40px;
                margin-bottom: -20px;
                padding-bottom: 10px;
                line-height: 1em;
                font-weight: 500;
            }
            h2{
                font-weight: 800;
                text-transform: uppercase;
                font-size: 36px;
                line-height: 1.1em;
                margin-bottom:15px;
            }
            p{
                max-width: 680px;
                font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
            }
        }
        .serv-box{
            display:grid;
            grid-template-columns: 100%;
            grid-template-rows: repeat(6, 320px);
            text-align:center;
            .box-container:nth-child(1){
                border-right: none;
                border-bottom: 1px dotted #ef7a07;
            }
            .box-container:nth-child(2){
                border-bottom: 1px dotted #ef7a07;
            }
            .box-container:nth-child(3){
                border-right: none;
                border-bottom: 1px dotted #ef7a07;
            }
            .box-container:nth-child(4){
                border-bottom: 1px dotted #ef7a07;
            }
            .box-container:nth-child(5){
                border-right:none;
                border-bottom: 1px dotted #ef7a07;
            }
        }
    }
}