.about-container{
    width:100%;
    padding:60px 10%;
    .about-title{
        text-align: center;
        margin-bottom:60px;
        h4, h2{
            visibility: hidden;
            opacity:0;
            transform:translateY(50px);
            transition:all 1000ms ease-in-out;
        }
        h4{
            font-family: Kristi;
            color: #EF7A07;
            font-size: 60px;
            margin-bottom: -26px;
            line-height: 1em;
            font-weight: 500;
        }
        h2{
            font-weight: 800;
            text-transform: uppercase;
            font-size: 60px;
            line-height: 1.1em;
            font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
            color: #353740;
        }
    }
    .about-desc{
        display:flex;
        .about-info, .about-list{
            width:50%;
        }
        .about-info{
            padding-right:75px;
            p{
                visibility: hidden;
                opacity:0;
                transform:translateY(-15px);
                transition:all 1250ms ease-in-out;
                line-height: 1.8em;
                font-size:18px;
                color: #353740;
                font-weight: 500;
                font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
            }
        }
        .about-list{
            // margin-left:15px;
            div{
                border-bottom: 1px dotted #848484;
                padding:20px 0;
                visibility: hidden;
                opacity:0;
                h4{
                    font-weight: 100;
                    font-size: 28px;
                    color: #353740;
                    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
                }
            }
            div:nth-child(1){
                transform:translateX(45px);
                transition:all 1250ms ease-in-out;
            }
            div:nth-child(2){
                transform:translateX(60px);
                transition:all 1500ms ease-in-out;
            }
            div:nth-child(3){
                transform:translateX(75px);
                transition:all 1750ms ease-in-out;
            }
            div:nth-child(4){
                transform:translateX(90px);
                transition:all 2000ms ease-in-out;
            }
            div:nth-child(5){
                transform:translateX(105px);
                transition:all 2250ms ease-in-out;
                
            }
            div:last-child{
                border:none;
            }
        }
    }
}

.animate{
    .about-title{
        h4, h2{
            visibility: visible;
            opacity:1;
            transform:translateY(0px);
        }
    }
    .about-desc{
        .about-info{
            p{
                visibility: visible;
                opacity:1;
                transform:translateY(0px);
            }
        }
        .about-list{
            div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4), div:nth-child(5) {
                visibility: visible;
                opacity:1;
                transform:translateX(0px);
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    .about-container{
        .about-desc{
            flex-direction: column;
            .about-info, .about-list{
                width:100%;
            }
            .about-info{
                padding:0;
                margin-bottom:55px;
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .about-container{
        .about-title{
            h4{
                font-size:40px;
                margin-bottom:-15px;
            }
            h2{
                font-size:36px;
            }
        }
        .about-desc{
            .about-info{
                p{
                    font-size:16px;
                }
            }
            .about-list{
                div{
                    h4{
                        font-size:18px;
                    }
                }
            }
        }
    }
}