.main-container{
    width:100%;
    min-height: 500px;
    max-height:100vh;
    position:relative;
    background-color: gray;
    opacity:0;
    animation: titleAnim 1000ms ease-in-out forwards;
    .prev-next{
        width:100%;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        display:flex;
        justify-content: space-between;
        padding: 0 30px;
        z-index:3;

        i{
            transition:all 300ms ease-in-out;
            font-size: 24px;
            color: #fff;
        }
    }
    .dots{
        position:absolute;
        bottom: 0;
        left:50%;
        transform:translate(-50%,-50%);
        display:flex;
        justify-content: space-between;
        z-index:3;
        p{
            transition:all 300ms ease-in-out;
            font-size:35px;
            color:#fff;
            margin: 0 10px;
            opacity:0.5;
        }
    }
}

@keyframes titleAnim{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@media only screen and (max-width: 768px){
    .main-container{
        .prev-next{
            display:none;
        }
    }
}