.navbar-container{
    position:fixed;
    z-index: 5;
    width:100%;
    height:80px;
    padding: 0 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    background: linear-gradient(180deg,rgba(0,0,0,0.5032387955182073) 20%,rgba(0,0,0,0.11388305322128855) 60%,rgba(0,0,0,0) 90%);
    transition: all 300ms ease-in-out;
    .logo{
        img{
            transition: all 300ms ease-in-out;
            height:43px;
        }
    }
    .nav{
        height: 100%;
        display:flex;
        div{
            height:100%;
            display:flex;
            align-items:center;
            a{
                margin: 0 10px;
                color:#fff;
                font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
                font-weight: 500;
                font-size: 13px;
                letter-spacing: .5px;
                text-decoration: none;
            }
        }
        .dropdown{
            i{
                color:#fff;
                font-size: 13px;
            }
            .offers-dropdown{
                display:none;
            }
            
        }
        .dropdown:hover{
            .offers-dropdown{
                position:fixed;
                display:flex;
                transition: top 300ms ease-in-out;
                top:80px;
                right:0;
                width:755px;
                height:310px;
                padding:30px 20px;
                background-color:#000;
                border-top: 2px solid #ef7a07;
                div{
                    width:238px;
                    flex-direction: column;
                    align-items: flex-start;
                    a:first-child{
                        padding: 0 20px 10px;
                        font-weight: 700;
                    }
                    a{
                        cursor: pointer;
                        padding:4px 20px;
                    }
                }
            }
        }
        

    }
    .mobile-button{
        display:none;
    }
}

.mobile-nav{
    display:none;
}

.scrolled{
    height:55px;
    background-color: #000;
    .logo{
        img{
            height:29px;
        }
    }
}

@media only screen and (max-width: 1024px){
    .navbar-container{
        .nav{
            display:none;
        }
        .mobile-button{
            display:block;
            i{
                font-size: 32px;
                color: #ef7a07;
            }
        }
    }
    .mobile-nav{
        position:fixed;
        z-index:1;
        top: 65px;
        width:90%;
        max-height: 70vh;
        margin: 0 5%;
        flex-direction: column;
        padding:5%;
        background-color: #000;
        border-top: 2px solid #ef7a07;
        overflow-y:scroll;
        a{
            cursor:pointer;
            padding: 5px 2%;
            font-size: 12px;
            color:#fff;
            font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
            font-weight: 400;
            text-decoration: none;
        }
        .mobile-offers{
            padding-left:30px;
            a{
                font-weight: 600;
            }
            div{
                display:flex;
                flex-direction: column;
                padding-left:30px;
                a{
                    font-weight: 400;
                }
            }
        }
    }
    .mobile-nav::-webkit-scrollbar-track
    {
        background-color: #000;
    }

    .mobile-nav::-webkit-scrollbar
    {
        width: 2px;
        background-color: #000;
    }

    .mobile-nav::-webkit-scrollbar-thumb
    {
        background-color: #ef7a07;
    }
}