.blog-container{
    width:100%;
    padding:60px 10%;
    .blog-desc{
        display:grid;
        justify-content: center;
        grid-template-columns: repeat(3, 300px);
        column-gap: 55px;
        row-gap: 65px;  
    }
}

@media only screen and (max-width:1024px){
    .blog-container{
        .blog-desc{
            grid-template-columns: repeat(2, 300px);
            column-gap: 55px;
            row-gap: 65px;  
        }
    }
}

@media only screen and (max-width:768px){
    .blog-container{
        .blog-desc{
            grid-template-columns: 400px;
            column-gap: 55px;
            row-gap: 65px;  
        }
    }
}

@media only screen and (max-width:425px){
    .blog-container{
        .blog-desc{
            grid-template-columns: 300px;
            column-gap: 55px;
            row-gap: 65px;  
        }
    }
}